.header{
    background-color: mediumblue;
    color: rgb(219, 184, 119);
    text-align: center;
}
.navItem{
    border: 1pt ridge blue;
    padding: 1em 1em 1em 1em;
    margin-left: -2.5em;
    text-align: center;
}
.navItem a{
    color: rgb(219, 184, 119);
}
.kerryPic{
    height: 200pt;
    width: 200pt;
    border-radius: 100pt;
    margin: 1em 1em 1em 1em;
}
ul{
    list-style-type: none;
}
.projectList{
    padding: 1em 1em 1em 1em;
    text-align: center;
}

.projectList img{
    width: 90%;
    border: 4pt solid rgb(219, 184, 119);
}
.rightSideDiv{
    /*border-top: solid 1pt blue;*/
    border-top: solid 1pt rgb(219, 184, 119);
}
.rightSide{
    margin-left: 4pt;
}
.footHR{
    height: .25pt;
    background-color: rgb(219, 184, 119);
    margin-left: 4em;
    margin-right: 4em;
}
.footImage{
    width: 30pt;
}
.btnLinkedIn{
    background-color: mediumblue;
    border-style: none;
    color: rgb(219, 184, 119);
}
.btnLinkedIn:hover {
    background-color: rgb(2, 2, 119);
    border-radius: 4pt;
    padding-top: 4pt;
}
#email{
    list-style-type: none;
    background-color: mediumblue;
    color: rgb(219, 184, 119);
    text-align: center;
}